* {
    box-sizing: border-box;
    /* background-color: rgb(11, 3, 46); */
    color: wheat;
    font-family: 'Trebuchet MS';
 
}

body {
    /* browser will choose one of 2 declaration 100% or 960 px */
    width: 100%;
    max-width: 960px;
    /* top and bottom margins set to 0, left and right are set to auto, so 
    it will be calculated by browser to set the body in the middle */
    margin: 0 auto 0;
}
html {
    font-size: 100%
}

.whole_page, .main_header, .main_nav, #work_in_progress, .form_name, .form_email, .form_message {
    display: flex;

    flex-direction: column;

}

.whole_page {
    min-height: 100vh;
}

.main_header {
    background-color: rgb(160, 150, 200);
    padding: 0.25rem;
    align-items: center;
}

.main_nav{
    list-style: none;
}

.main_nav li {
    margin-right: 10px;
}

.main_nav a:link {
     text-decoration: none;
    
}

.main_nav a:hover {
    text-decoration: underline;
  }


h1 {
    margin: 0;
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;

}

.photo_natalia {
    border: 2px solid rgb(101 ,239, 52);
    border-radius: 50%;
    width: 200px;
   
}


section {
    padding: 1%;
    background-color: rgb(11, 3, 46)
}

p {
    font-size: 1.25rem;
}

#skills ul li {
    list-style: none; /* no dots for list elements */
    display: inline-block;
    
    writing-mode: horizontal-tb;
    border-radius: 0.25rem;
    /* opacity is 50%.  */
  background: rgba(115,173,33, 0.5);
  padding: 0.2rem;
  margin: 0.5rem;

  
  box-sizing: border-box;
  width: auto;
}

.app_icon  {
    border: 2px solid rgb(101 ,239, 52);
    border-radius: 10%;
    
}

.app_icon:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: 1;
  }

/*  GRID FOR MESSAGE FORM */
.leave_message {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-gap: 20px;
    grid-template-areas: 
        "form_name form_email"
        "form_message form_message"
        "form_button form_button"
       
}

.form_name {
    grid-area: form_name;
}

.form_email {
    grid-area: form_email;
}

.form_message {
    grid-area: form_message;
}

.form_button {
    grid-area: form_button;
}


/* Flex inside message grid*/
.form_message, .form_name, .form_email {
    flex-grow: 1;

}

/* Button format*/
.form_button {
    margin: auto;
    padding: 8px 16px;
    border: none;
    background-color: #333;
    text-transform: uppercase;
    letter-spacing: 0.09rem;
    border-radius: 2px;

}

footer {
    margin-top: auto;
}

@media print {
    section {
    min-height: auto;
    padding: 0;
    }
    * {
        color: black;
    }

    h1, h2 {
        margin: 5 0 5;
        color: rgb(31, 60, 190);
    }
}

@media (min-width: 769px) {
    .main_header, .main_nav {
        flex-direction: row;
        align-items: flex-end;
    }
    .main_header {
        justify-content: space-between;

    }
    

    
    #work_in_progress  {
        flex-direction: row;
        flex-wrap: wrap;

    }

    #work_in_progress h2 {
        flex: 1 100%;

    }

    .photo_natalia {
        border: 2px solid rgb(101 ,239, 52);
        width:30%;
        
    }

/* NOT WORKING PROPERLY - when really wide screen becoms column again. Whay 20vw not 50? or 25% not 50%*/
    .col  {
        margin: 5px;
        flex: 1 25%;

    }

}
    






@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }